*{
    background-color: blue;
}
.navbar {
    background-color: #a62b31b4;
    font-style: inherit;
    height: 100px;
}
h5 {
    background-color: #11088f !important;
    color: cornsilk;
}
.container{
    background-color: blue;
}
.col-6{
    background-color: blue;
}